body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #c5a27b;
}
#title-head {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13vw; 
    font-weight: 700;
    text-align: center;
    color: #292320;
    padding-left: 1rem;
    padding-right: 1rem;
}

#title-byline{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw; 
    font-weight: 400;
    text-align: center;
    color: #292320;
    padding-left: 1rem;
    padding-right: 1rem;
}

#title-byline a{
    color: #292320;
}

#subtitle-head{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw; 
    font-weight: 700;
    text-align: center;
    color: #292320;
    padding: 1rem;
}
#main-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

.controlpanel {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    border-color: #292320;
    border-width: 1px;
    border-style: solid;   
    background: #e0e0e0;
}

#portSelector {
    display: block;
}

#channelSelector{
    display: block;
}

#saveLoadShare input, button, textarea{
    display: block;
}

#saveLoadShare  textarea{
    height: 10em;
}
/*
#valueDisplay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 2em;
    width: 3em;
    left: 0;
    right: 0;
    color: #292320;
    background-color: #444444;
    border-color: #aaaaaa;
    border-width: 2px;
    border-style: dashed;  
    opacity: 0.7;
    float: right;
    display: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vw;
    text-align: center;
    
}
*/
.controlpanel h2{
    margin-top: 0;
}

.controlflexlayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.controlitemgroup{
    margin: 4px;
    padding: 6px;
    background: #d5ceb7;
    border-color: #292320;
    border-width: 1px;
    border-style: groove;  
    flex-grow: 1; 
}

.controlitemgroup label{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0.5em;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
   
.radiogroup label{
    display: inline-block;

}

.controlitemgroup input{
    display: inline-block;
    margin-bottom: 0.5em;
}

.controlitemgroup input[type=text], textarea{
    width: 95%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    background-color: #292320;
    color:#c5a27b;
}

.controlitemgroup select{
    width: 95%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    background-color: #292320;
    color: #c5a27b;
}

.controlitemgroup button{
    width:95%;
    background-color: #292320;
    color: #c5a27b;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    margin-bottom: 0.5em;
}

.controlitemgroup h3{
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.lcdlabel img{
    height: 2rem;
    background-color: #292320;
}

#sharableLinkTextbox{
    height: 10em;
}

/*slider styling*/

input[type=range] {
    -webkit-appearance: none;
    width: 95%;
    display: inline-block;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #292320;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.1px 1.1px 6.5px #000000, 0px 0px 1.1px #0d0d0d;
    border: 1.3px solid #000000;
    height: 19px;
    width: 12px;
    border-radius: 5px;
    background: #ff9652;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #262727;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #444444;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.1px 1.1px 6.5px #000000, 0px 0px 1.1px #0d0d0d;
    border: 1.3px solid #000000;
    height: 19px;
    width: 12px;
    border-radius: 5px;
    background: #292320;
    cursor: pointer;
  }
