.toggle-button input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  min-width: 5em;
  max-width: 5em;
  margin: -1em 0;
  font-size: 11px !important;
  color:#222;
  background-color: tan;
}

.toggle-button input[type="checkbox"]::before {
  content: attr(labelOn);
  display: block;
  padding:0.2rem;
  text-align: right;
 }

.toggle-button input[type="checkbox"]:checked::before {
}

.toggle-button input[type="checkbox"]:not(:checked)::before {
  content: attr(labelOff);
  text-align: left;
}

.toggle-button input[type="checkbox"]:disabled::before {
  background-color: darkgrey;
}

.toggle-button.toggle-on-off input[type="checkbox"]:checked::before {
  background-color: #78d4ce;
}
.toggle-button.toggle-on-off input[type="checkbox"]:not(:checked)::before {
  background-color: salmon;
}
