body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #898989;
}
#title-head {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13vw; 
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
}

#title-byline{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw; 
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
}

#title-byline a{
    color: #ffffff;
}

#subtitle-head{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw; 
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 1rem;
}
#main-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

.table{
    display:table;
    background-color: #eeeeee;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.table-row{display:table-row;}
.table-cell{
    display:table-cell;
}
.controlpanel {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    border-color: #bbbbbb;
    border-width: 2px;
    border-style: dashed;   
    background: #cccccc;
}

#portSelector {
    display: block;
}

#channelSelector{
    display: block;
}

#saveLoadShare input, button, textarea{
    display: block;
}

#saveLoadShare  textarea{
    height: 10em;
}

#valueDisplay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 1em;
    width: 3em;
    left: 0;
    right: 0;
    color: rgb(41, 163, 67);
    background-color: #444444;
    border-color: #aaaaaa;
    border-width: 2px;
    border-style: dashed;  
    opacity: 0.7;
    float: right;
    display: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vw;
    text-align: center;
    
}
/*
.fadingIn{
    -webkit-animation: fade 0.3s linear forwards;
    animation: fade 0.3s linear forwards;
}

.fadingOut{
    -webkit-animation: fade 0.3s linear backwards;
    animation: fade 0.3s linear backwards;
}

@-webkit-keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
*/

.controlpanel h2{
    margin-top: 0;
}

.controlflexlayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.controlitemgroup{
    margin: 4px;
    padding: 6px;
    background: #bbbbbb;
    border-color: #aaaaaa;
    border-width: 2px;
    border-style: dashed;  
    flex-grow: 1; 
}

.controlitemgroup label{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0.5em;
    display: block;
}
.controlitemgroup input{
    display: inline-block;
    margin-bottom: 0.5em;
}

.controlitemgroup input[type=text], textarea{
    width: 95%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    background-color: #444444;
    color: rgb(41, 163, 67);
}

.controlitemgroup select{
    width: 95%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    background-color: #444444;
    color: rgb(41, 163, 67);
}

.controlitemgroup button{
    width:95%;
    background-color: #555555;
    color: rgb(41, 163, 67);
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    margin-bottom: 0.5em;
}

.controlitemgroup h3{
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0.25em;
}


/*slider styling*/

input[type=range] {
    -webkit-appearance: none;
    width: 95%;
    display: inline-block;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #444444;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.1px 1.1px 6.5px #000000, 0px 0px 1.1px #0d0d0d;
    border: 1.3px solid #000000;
    height: 19px;
    width: 12px;
    border-radius: 5px;
    background: rgb(41, 163, 67);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #262727;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #444444;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.1px 1.1px 6.5px #000000, 0px 0px 1.1px #0d0d0d;
    border: 1.3px solid #000000;
    height: 19px;
    width: 12px;
    border-radius: 5px;
    background: rgb(41, 163, 67);
    cursor: pointer;
  }

  .envelopedisplay{
      background-color: #444444;
      color: rgb(41, 163, 67);
  }
  /*
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #161717;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #1e1f1f;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.1px 1.1px 6.5px #000000, 0px 0px 1.1px #0d0d0d;
    border: 1.3px solid #000000;
    height: 19px;
    width: 12px;
    border-radius: 5px;
    background: rgba(0, 227, 53, 0.93);
    cursor: pointer;
    height: 7px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #1e1f1f;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #262727;
  }
  */
  