@import 'button.css';
@import 'button-group.css';
@import 'checkbox.css';
@import 'input-type-file.css';
@import 'select.css';
@import 'slider-small.css';
@import 'textarea.css';

body {
    font-family: 'Montserrat', sans-serif;
    background: #444;
    /*background-image: radial-gradient(at 50% 30%, #444 45%, #222 95%);*/
    background-image: radial-gradient(at 50% 30%, #463f36 45%, #231d16 95%); /*brown*/
    background-attachment: fixed;
    margin:2.25rem 0 0;
    font-size: 1rem;
    text-rendering:geometricPrecision;
    overflow: hidden;
}
*{box-sizing: border-box;user-select: none;}
*:focus {outline:0;}
a{color: #ccc;text-decoration: none;font-weight:bold}

.pb-1{padding-bottom:0.25rem;}
.pt-1{padding-top:0.25rem;}
.py-1{padding-top:0.25rem; padding-bottom:0.25rem;}

.pb-2{padding-bottom:0.5rem;}
.pt-2{padding-top:0.5rem;}
.py-2{padding-top:0.5rem; padding-bottom:0.5rem;}

.pb-3{padding-bottom:0.75rem;}
.pt-3{padding-top:0.75rem;}
.py-3{padding-top:0.75rem; padding-bottom:0.75rem;}

#head-wrapper{
    position: fixed;
    display:flex;
    align-items: center;
    width: 100%;
    background: #383128;
    height:2.25rem;
    top:0;
    color: #ddd;
    /*border-width: 1px;*/
    /*border-color: rgba(0,0,0,0.75);*/
    /*border-bottom-style: solid;*/
    z-index: 1004;
    box-shadow: 0 2px  8px rgba(0, 0, 0, 0.5)
}

#head-wrapper .label{
    border-radius: 0.1rem;
    padding: 0 0.25rem;
    font-size: smaller;
}
#head-wrapper .label.label-gold{
    background: gold;
    color:black;
}

#title-head {
    font-weight: 700;
    padding: 0 1rem;
}

#title-head span > span{
    color:#94fbf5;
}

#title-byline{
    font-weight: 400;
    padding: 0 1rem;
}



#subtitle-head{
    flex-grow: 1;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
}

#sharableWrapper{
    /*display:none;*/
}
#sharableLink{
    font-size: smaller;
    word-break: break-all;
}

#qrcode{}
#qrcodeWrapper{
    /*width: 269px;*/
    /*height: 269px;*/
    /*padding:24px;*/
    background: #fff;
}


#johnChowning{
    background: #222;
    width: 100%;
    text-align: center;
    padding:0.75rem 0;
    display:none;
}
#johnChowning a{
    display: block;
}

#main-content{
    /*width: 80%;*/
    display: none; /* initially hidden */
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    transform-origin: 0% 0%;
}

.table{
    display:table;
    background-color: #eeeeee;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.table-row{display:table-row;}
.table-cell{
    display:table-cell;
}
.controlpanel {
    /*overflow: hidden;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 1em;
    */
    padding: 1.125em;
    /*padding: 1em;*/
    /*border-color: Tan;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*background: #cccccc;*/
}

#portSelector {
    display: block;
}

#channelSelector{
    display: block;
}

#valueDisplayWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0; right:0; bottom: 0; left: 0;
    padding:7.25rem 6rem 5rem;
    pointer-events: none;
}
#valueDisplay {
    transform: translate(-50%, -50%) ;
    position: relative;
    top:0;
    left: 50%;
    width: 10rem;
    color: #444;
    background-color: #fff;
    border-radius: 1rem;
    opacity: 0.5;
    display: none;
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
}

.controlpanel h2{
    margin-top: 0;
    white-space: nowrap;
    color:tan;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    opacity: 0.9;
}

.controlflexlayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:290px;
}

.controlitemgroup{
    width: 100%;
    color: #858cb5;
}
.controlitemgroup:not(:last-child){
    margin: 0 0 0.75em;
}

.controlitemgroup label{
    font-weight: 400;
    text-transform: uppercase;
    color: tan;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controlitemgroup input{
    display: block;
}
.controlitemgroup h3{
    color: rgba(180, 189, 249,1);
    margin-top: 0;
    margin-bottom: 0.5em;
    white-space: nowrap;
    font-weight: normal;
    text-transform: uppercase;
    border-color: rgba(180, 189, 249,0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.controlitemgroup label,
.controlitemgroup h3{
    font-size: 0.8em;
}


.align-items-baseline{
    align-items: baseline;
}
.justify-content-between{
    justify-content: space-between;
}

.opCanvas{}
