@import 'button.css';
@import 'button-group.css';
@import 'checkbox.css';
@import 'input-type-file.css';
@import 'select.css';
@import 'slider.css';
@import 'textarea.css';

body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(at 50% 30%, #555, #222 95%);
    background-attachment: fixed;
    margin:2.25rem 0 0;
}
*{box-sizing: border-box;}
*:focus {outline:0;}
a{color: #ddd;}

.pb-1{padding-bottom:0.25rem;}
.pt-1{padding-top:0.25rem;}
.py-1{padding-top:0.25rem; padding-bottom:0.25rem;}

.pb-2{padding-bottom:0.5rem;}
.pt-2{padding-top:0.5rem;}
.py-2{padding-top:0.5rem; padding-bottom:0.5rem;}

.pb-3{padding-bottom:0.75rem;}
.pt-3{padding-top:0.75rem;}
.py-3{padding-top:0.75rem; padding-bottom:0.75rem;}

#head-wrapper{
    position: fixed;
    display:flex;
    align-items: center;
    width: 100%;
    background: #333;
    height:2.25rem;
    top:0;
    color: #ddd;
    border-width: 1px;
    border-color: rgba(0,0,0,0.75);
    border-bottom-style: solid;
    z-index: 1004;
    box-shadow: 0 2px  8px rgba(0, 0, 0, 0.5)
}

#head-wrapper .label{
    border-radius: 0.1rem;
    padding: 0 0.25rem;
    font-size: smaller;
}
#head-wrapper .label.label-gold{
    background: gold;
    color:black;
}

#title-head {
    font-weight: 700;
    padding: 0 1rem;
}

#title-head span > span{
    color:#94fbf5;
}

#title-byline{
    font-weight: 400;
    padding: 0 1rem;
}



#subtitle-head{
    flex-grow: 1;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
}

#sharableLink{
    display:none;
    font-size: smaller;
    color: #999;
    opacity: 1;
    background: #222;
    padding: 0.5rem;
    word-break: break-all;
}

#main-content{
    /*width: 80%;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

.table{
    display:table;
    background-color: #eeeeee;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.table-row{display:table-row;}
.table-cell{
    display:table-cell;
}
.controlpanel {
    /*overflow: hidden;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 1em;
    */
    padding: 1.125em;
    /*padding: 1em;*/
    /*border-color: Tan;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*background: #cccccc;*/
}

#portSelector {
    display: block;
}

#channelSelector{
    display: block;
}

#valueDisplay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 4rem;
    width: 2em;
    left: 0;
    right: 0;
    color: #444;
    background-color: #fff;
    border-radius: 1rem;
    opacity: 0.5;
    display: none;
    font-size: 5.5vw;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    pointer-events: none;
}

.controlpanel h2{
    margin-top: 0;
    white-space: nowrap;
    color:tan;
    font-weight: normal;
    text-transform: uppercase;
    font-size: small;
    opacity: 0.9;
}

.controlflexlayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.controlitemgroup{
    margin: 0 0 1rem;
    width: 100%;
    color: #858cb5;
}

.controlitemgroup label{
    font-weight: 400;
    font-size: 0.9em;
    opacity: 0.9;
    text-transform: uppercase;
    color: tan;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controlitemgroup input{
    display: inline-block;
    margin-bottom: 0.5em;
}


.controlitemgroup h3{
    color: #b4bdf9;
    margin-top: 0;
    margin-bottom: 1em;
    white-space: nowrap;
    opacity: 0.9;
    font-weight: normal;
    text-transform: uppercase;
    font-size: small;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

canvas{
    height:80px;
    width:290px;
}
.align-items-baseline{
    align-items: baseline;
}
.justify-content-between{
    justify-content: space-between;
}

